/Lesson4/env
/Home OOP/env
/Lesson5/env
/Lesson5.1/env
/Lesson6/env
/Lesson7 SQL/env
/Lesson7 SQL/lib/__pycache__
/Lesson5.1/lib/__pycache__
/Lesson3/lib/__pycache__
/Home Calculator/lib/__pycache__
/.vscode
/Lesson5/lib/__pycache__
/Lesson5.1/Home User - Register.txt
/Lesson7 SQL/Home Work DB.txt